{% extends 'base.html' %}
{% block content %}
<div class="swiper-container">
  <div class="swiper-wrapper" id="cards-container">
    <!-- Slides will be injected by JS -->
  </div>
</div>

<!-- Swiper.js -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
fetch('/api/roommates')
  .then(res => res.json())
  .then(data => {
    const container = document.getElementById('cards-container');
    data.forEach(r => {
      const slide = document.createElement('div');
      slide.className = 'swiper-slide';
      slide.innerHTML = `
        <div class="card">
          <img src="${r.photo_url}" alt="${r.name}">
          <h3>${r.name}, ${r.age}</h3>
        </div>`;
      container.appendChild(slide);
    });

    new Swiper('.swiper-container', {
      effect: 'cards',
      grabCursor: true,
    });
  });
</script>
{% endblock %}
